@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

*{
    margin:0;
    box-sizing:border-box;
    padding:0;
    }
  
:root {
    --vietnam: "Be Vietnam", sans-serif;
    --ancho: 1440px;
/* Color primario */
    --Color-azul_oscuro: hsl(233, 26%, 24%);
    --color-verde: hsl(136, 65%, 51%);
    --color-celeste: hsl(192, 70%, 51%);
/* color secundario */
    --color-plomo: hsl(233, 8%, 62%);
    --color-gris-azul-claro: hsl(220, 16%, 96%);
    --color-plomo-claro: hsl(0, 0%, 98%);
    --color-blanco: hsl(0, 0%, 100%);
}


body{
  /* border: 1px solid blue; */
  /* background-color: burlywood; */
}
  
/*--------- HEADER   ------*/

.header {
    /* max-width: var(--ancho);  */  /*Revisar*/
    display: flex;
    margin: 0 auto; /*Centrar al padre*/
    height: 60px; /*Definir el alto*/
    margin-top: -1px; 
  /*  border: 1px solid black;  */ /*Eliminar*/
    position: relative;
    background: var(--color-blanco);
  }
  
  .header__contenedor, .footer_principal {
    display: flex;
    flex: 1;
    max-width: 1440px;
    margin: 0 auto;
    /* background-color: blueviolet;  Eliminar */
  }

  .header__logo {
    width: 500px;
    padding: 20px;
    display: flex;
    flex: 30%;
    justify-content: center;
    align-items: center;  
    /*border: 1px solid black; */  /*Eliminar*/
  }

  .header__logo img {
     height: 60px;
     margin-right: 100px; 
     width: 100px;
     /*border: 1px solid black;*/   /*Eliminar*/

  }

  .header__navegacion, .footer__navegacion {
    
    flex: 35%;
    display: flex;
    /*border: 1px solid black;  */ /*Eliminar*/
  }
  .header__lista {
  list-style: none;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  /*border: 1px solid black; */  /*Eliminar*/
  }
  .header__item {
    margin: 0 20px;
    /*border: 1px solid black;*/   /*Eliminar*/
  }
 
  .header__item:hover {
    background-color: var(--color-verde);
     
  } 

  .header__link {
    text-decoration: none;
    color: var(--color-plomo);
    font-weight: 700;
  }
  
  .header__boton, .footer__boton  {
    display: flex;
    width: 300px;
    flex: 35%;
    justify-content: center;
    align-items: center;    
    /*border: 1px solid black;*/   /*Eliminar*/   
} 
  .boton__cabecera, .seccion3__desc3, .boton__footer{
      width: 180px;
      height: 35px;
      border-radius:35px;
      background: linear-gradient(90deg, var(--color-verde),var(--color-celeste));
      color: var(--color-blanco);
      border: none;
      cursor: pointer; 
      align-content: center;
    } 
 
    
.header__icon{
  display: none;
  color: white;
  }

/*--------- FIN DE HEADER   ------*/

/*--------- SECCION 1  --------*/

.principal {
  max-width: var(--ancho); 
  height: 696px;
  margin: 0 auto;
  display: flex;
  background-color: var(--color-plomo-claro); 
  /* border: 1px solid black; */
}
.seccion2{


  height: 20px;
  margin-top: 300px;
} 

 .card4{
  margin-top: 5000px;
  margin-left: -1500px;
 
 }
 


/*---------  FIN SECCION 1  --------*/
/* -------  SECCCIÓN 2  ------ */
 
 
 .principal2 {
   max-width: var(--ancho); 
   height: 696px;
   margin: 0 auto;
   /* display: flex;  */
   /* background-color: var(--color-plomo-claro);  */
   
  background-color: rgb(238, 238, 240);
   /* border: 1px solid black; */
 }

 .principal2__seccion1{
  display: flex;
  height: 40%;
  /* flex: 50%; */
  flex-direction: column;
  padding: 100px;
   /* background-color: rgb(219, 219, 219); */
  /* border: 1px solid black; */
} 

.seccion1__parte1 {
  height: 100px;
  width: 600px;
   /* background-color: violet;  */
  font-size: 200%;
  font-family: 'Lato', sans-serif;
}

.seccion1__titulo {
   /* background-color: yellow;  */
  height: 100px;
  width: 780px;
  color: var(--color-plomo);
  margin-top: 30px;
}



.principal2__desc2{
  font-size: 150%;
  font-family: 'Lato', sans-serif;
}

.principal2__titulo2{
  color: var(--color-plomo);
  margin-top: 50px;
  margin-right: 50px;
  justify-content: space-around;
}

.principal2__imagen, .principal2__desc2{
  margin-bottom: 20px;
}
 
.principal2__seccion2_1{
  display: flex;
  margin-top: 40px;
  margin-right: 50px;
}
.principal2__contenedor2_1{
  padding-left: 100px;
  /* background-color: blueviolet; */
}
 
/*----- FIN SECCION 2 -------*/
 
/* -------  SECCCIÓN 3  ------ */
 
 
.principal3 {
  max-width: var(--ancho); 
  height: 900px;
  margin: 0 auto;
  /* display: flex;  */
  /* background-color: var(--color-plomo-claro);  */
 background-color: var(--color-plomo-claro); 
  /* border: 1px solid black; */

}

.principal3__seccion1{
 display: flex;
 height: 40%;
 /* flex: 50%; */
 flex-direction: column;
 padding: 100px;
  /* background-color: rgb(219, 219, 219); */
 /* border: 1px solid black; */
} 

.seccion3__parte1 {
 height: 100px;
 width: 600px;
 /* background-color: violet;   */
 font-size: 200%;
 font-family: 'Lato', sans-serif;
 /* margin-top: -10px; */
}
 

.principal3__seccion3_1{
  display: flex;
  justify-content: space-evenly;
  margin-top: -100px;
  margin-left: 50px;
  margin-right: 50px;
 }

 .principal3__autor3{
  margin: 15px;
 }

.principal3__desc3{
 font-size: 150%;
 font-family: 'Lato', sans-serif;
 margin: 15px;
}

.principal3__titulo3{
 color: var(--color-plomo);
 margin: 15px;

}

.principal3__imagen{
  display: flex;

}

.principal3__imagen img{
  width: 100%; height: 200px;
}

.principal3__imagen, .principal3__desc3{
 margin-bottom: 20px;
}

.principal3__contenedor2_1{
  width: 22%;
 background-color: var(--color-blanco);
}

.principal3__contenedor3_1{
  width: 22%;
  background-color: var(--color-blanco);
 }
 
.principal3__contenedor4_1{
  width: 22%;
  background-color: var(--color-blanco);
 }

.principal3__contenedor5_1{
  width: 22%;
  background-color: var(--color-blanco);
 }

/* ----  FIN DE PARTE 3   ------*/

/*--- INICIO FOOTER*/

.footer_principal {
  background-color:var(--Color-azul_oscuro);
  height: 150px;
  display: flex;
  /* justify-items: center; */
   /* background-color: turquoise;  */
   /* width: 200px; */

  
}
/*.footer_secundario{*/
   /* background-color: teal;  */
  /* max-width: 0%; */
  /* height: 150px; */
  /* display: flex; */
/*}*/
.footer__contenedor{
   margin-left: 90px;
   margin-top: 40px;
  /* background-color: red; */
  /* flex-direction: row; */
  /* display: flex; */
  width: 400px; height: 30px;
}

.footer__icono{
  /* background-color: rebeccapurple; */
  margin: 0 90px;
  width: 400px;
  padding: 20px;
}
 
/* parte 1*/
.footer__navegacion {
 /* background-color: violet; */
align-items: center;
display: flex;
}  

.footer_lista {
  margin-right: 10px;
 /* list-style: none; *//*Quita biñetas*/
}

.footer__item{  
padding: 5px;
list-style: none;
}

.footer__link{
/* background-color: lightcoral; */
list-style: none;
color: var(--color-plomo);
}


/* parte 2*/
.footer__navegacion1 {
  width: 300px;
 /* background-color: purple;  */
  align-items: center; 
 display: flex;
  margin-right: 300px; 
  list-style: none; /*Quita biñetas*/
 }  
 
 .footer_lista1 {
   margin-right: 70px;
    list-style: none; /*Quita biñetas */
 }
 
 .footer__item1{
 list-style:none;
 letter-spacing: normal;
 list-style: none; 
 padding: 5px;
  margin-right: 100px; 

 }
  
/* list-style: none; */


.footer__boton{
  /* background-color: saddlebrown; */
  width: 50px;
  height: 150px;
 
}

.contiene__botonfooter{
  /* background-color: rgb(221, 0, 0); */
  height: 150px;
  margin-left: -100px;
}
 
.boton__footer{
  margin: 50px;
  width: 200px;
  align-items: center;
  margin-top: 25px;
  /* background-color: red; */
}
.footer_reservado{
  /* background-color: tomato; */
  display: inline;
  padding: 10px;
  margin-right: 25px;
  color: var(--color-plomo); 

}

/*---- FIN FOOTER*/






/*--------- HEADER RESPONSIVE  ------*/

  @media screen and (max-width: 480px){
      .header:hover .header__lista{
          /* display: flex; */
          height: 120px;
      }
      .header__lista{
          overflow: hidden;
          transition: all 0.2s ease;
           /* display: none;  */
          flex-direction: column;
          position: absolute;
          top: 60px;
          left: 0;
          width: 100%;
          /* background: -webkit-linear-gradient(left, var(--color-primario), #ee9389); */
          height:0;
      }
      .header__logo{
          display: inline-block;
          /* margin-right: 40px; */
          margin-left: 0 auto;
      }
      
    .header__navegacion{
        flex: 1;
        justify-content: flex-end;
        align-items: center;
        }
    .boton__cabecera{
        display: inline-block;
       
    }
    .header__boton{
         display: none; 
    }
    
    .header__boton{
      display: none; 
 }
 
 .card2, .card{
  display: none; 
}



.header__icon{
  display: inline-block;
  /* margin-right: -20px; */
  color: var(--color-plomo)
}
 

/*Fin cabecera*/

/*---- parte 1 ---*/


.card4{
  display: inline-block; 
  /* margin-right: 900px  */
  margin-top: -100px;
  margin-left: -60px;
}

.seccion2__desc1{
  margin-top: -170px;
}
 
    .seccion2__parte1 {
      text-align: center;
     width: 300px;
     margin-top: 90px;
    }

    .seccion2__titulo{
      text-align: center;
      width: 400px;
      padding: 70px;
      margin-left: -40px;
      margin-top: -50px;
    }

    .seccion3__parte1{
      text-align: center;
     width: 300px;
     margin-top: 20px;
    }

/*---- parte 2 ---*/

    .principal2{
      height: 1650px;
    }

    .principal2__seccion1{
      height: 100px;
    }

    .seccion1__parte1{
     text-align: center;
     width: 300px;
     margin-top: -60px;
    }
    .seccion1__titulo{
      text-align: center;
      width: 400px;
      padding: 70px;
      margin-left: -40px;
    }

    .principal2__seccion2_1{
     
      flex-wrap: wrap;
      align-items: center;
      margin-top: 120px;
    }

    .principal2__contenedor2_1{
      /* align-content: center; */
      margin-left: 50px;
      order: 1;
      text-align: center;

    }
    .principal2__imagen{
      margin-right: 50px;
      margin-top: 20px;
    }

    .principal2__desc2{
      margin-right: 50px;
    }

     .principal2__contenedor3_1{
      padding: 5px;
      margin-left: 140px;
      text-align: center;
      order: 2;
    }
    .principal2__contenedor4_1{
      padding: 5px;
      margin-left: 140px;
      text-align: center;
      order: 3;
    }
    .principal2__contenedor5_1{
      padding: 5px;
      margin-left: 140px;
      text-align: center;
      order: 4;
      position: relative;
    }


    /*------ principal 3 ----*/

.principal3{
  height: 2200px;
}

.principal3__seccion1{
  height:300px;
}

.seccion3__desc1{
  margin-top: -50px;
}

.principal3__seccion3_1{
margin-top: -18px;
 display: inline-table;
 align-items: center;
}

.principal3__contenedor2_1{
  width: 370px;
  margin-left: 10px;
  padding: 10px;
  margin-top: 10px;
  order: 1;
}

.principal3__contenedor3_1{
  width: 370px;
  margin-left: 10px;
  padding: 10px;
  margin-top: 30px;
  order: 2;
}

.principal3__contenedor4_1{
  width: 370px;
  margin-left: 10px;
  padding: 10px;
  margin-top: 30px;
  order: 3;
}

.principal3__contenedor5_1{
  width: 370px;
  margin-left: 10px;
  padding: 10px;
  margin-top: 30pxv;
  order: 4;
}


/*--------- FIN principal 3   ------*/


/*----------- INICIO FOOTER  -----------*/
.footer_principal{
  height: 500px;
   display: inline-table; 
   /* display: flex; */
}
.footer_secundario{
  width: 20px;
  /* margin-top: -18px; */
 /* display: inline-table; */
 /* align-items: center; */
}

.footer__contenedor, .footer__icono{
  text-align: center;
  width: 370px;
  margin-left: 60px;
  padding: 10px;
  margin-top: 30px;
}

.footer__navegacion{
  display: inline-table;
  text-align: center;
  width: 370px;
  margin-left: 10px;
}
/*.footer__navegacion1{*/
  /* display: inline-table;
  text-align: center; */
  /* width: 20px; */
  /* margin: 50px; */
  /*padding: 20px;*/
/*}*/

.footer__lista{
display: inline-table;
  text-align: center;
  width: 370px;
  margin-left: 40px; 
} 

.footer__lista1{
  display: inline-table;
    text-align: center;
    width: 370px;
    margin-left: 200px; 
  } 

.boton__footer{
  display: inline-table;
  text-align: center;
  margin-left: 230px;
}
.footer__boton{
  display: inline-table;
  text-align: right;
}
.footer_reservado{
  margin-right: 20px;
}




/*----------- FIN FOOTER  --------------*/








  }
  