@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

*{
    margin:0;
    box-sizing:border-box;
    padding:0;
    }
  
:root {
    --vietnam: "Be Vietnam", sans-serif;
    --ancho: 1440px;
/* Color primario */
    --Color-azul_oscuro: hsl(233, 26%, 24%);
    --color-verde: hsl(136, 65%, 51%);
    --color-celeste: hsl(192, 70%, 51%);
/* color secundario */
    --color-plomo: hsl(233, 8%, 62%);
    --color-gris-azul-claro: hsl(220, 16%, 96%);
    --color-plomo-claro: hsl(0, 0%, 98%);
    --color-blanco: hsl(0, 0%, 100%);
}


body{
  /* border: 1px solid blue; */
  /* background-color: burlywood; */
}
  
/*--------- HEADER   ------*/

.header {
    /* max-width: var(--ancho);  */  /*Revisar*/
    display: flex;
    margin: 0 auto; /*Centrar al padre*/
    height: 60px; /*Definir el alto*/
    margin-top: -1px; 
  /*  border: 1px solid black;  */ /*Eliminar*/
    position: relative;
    background: var(--color-blanco);
  }
  
  .header__contenedor {
    display: flex;
    flex: 1;
    max-width: 1440px;
    margin: 0 auto;
    /* background-color: blueviolet;  Eliminar */
  }

  .header__logo {
    width: 500px;
    padding: 20px;
    display: flex;
    flex: 30%;
    justify-content: center;
    align-items: center;  
    /*border: 1px solid black; */  /*Eliminar*/
  }

  .header__logo img {
     height: 60px;
     margin-right: 100px; 
     width: 100px;
     /*border: 1px solid black;*/   /*Eliminar*/

  }

  .header__navegacion {
    flex: 35%;
    display: flex;
    /*border: 1px solid black;  */ /*Eliminar*/
  }
  .header__lista {
  list-style: none;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  /*border: 1px solid black; */  /*Eliminar*/
  }
  .header__item {
    margin: 0 20px;
    /*border: 1px solid black;*/   /*Eliminar*/
  }
 
  .header__item:hover {
    background-color: var(--color-verde);
     
  } 

  .header__link {
    text-decoration: none;
    color: var(--color-plomo);
    font-weight: 700;
  }
   

/*--------- FIN DE HEADER   ------*/
