@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

*{
    margin:0;
    box-sizing:border-box;
    padding:0;
    }
  
:root {
    --vietnam: "Be Vietnam", sans-serif;
    --ancho: 1440px;
/* Color primario */
    --Color-azul_oscuro: hsl(233, 26%, 24%);
    --color-verde: hsl(136, 65%, 51%);
    --color-celeste: hsl(192, 70%, 51%);
/* color secundario */
    --color-plomo: hsl(233, 8%, 62%);
    --color-gris-azul-claro: hsl(220, 16%, 96%);
    --color-plomo-claro: hsl(0, 0%, 98%);
    --color-blanco: hsl(0, 0%, 100%);
}


body{
  /* border: 1px solid blue; */
  /* background-color: burlywood; */
}
  
/*--------- HEADER   ------*/

.header {
    /* max-width: var(--ancho);  */  /*Revisar*/
     /*Centrar al padre*/
    height: 100px; /*Definir el alto*/
  /*  border: 1px solid black;  */ /*Eliminar*/

 
    /* background-color: aqua; */
     
  }
  
  .header__contenedor {
    display: flex;
    max-width: 100%;
    margin: 0 auto;
    /* background-color: blueviolet;  */
    height: 100px;
    /* align-items: center; */
  }

  .header__logo {
    width: 20%;
    /* border: 1px solid black;  */
    /* background-color: coral; */
    
  }

  .header__logo img {
     height: 100px;
     width: 140px;
     /*border: 1px solid black;*/   /*Eliminar*/
     float: right;  /*mover el logo a la derecha*/
  }

  .header__navegacion {
    
    width: 60%;
  /* border: 1px solid blue;   */
  }
  .header__lista {
    display: flex;
    height: 100%;
    
    align-items: center;
  /* border: 1px solid green;  */
   
}

  .header__item {
    /* border: 1px solid red; */
    margin: 0 auto;
    list-style: none; /*Quitar viñetas*/
  }
 
  /* .header__item:hover {
    background-color: var(--color-verde);
     
  }  */

  .header__link {
 
    color: var(--color-plomo);
    font-weight: 700;
    text-decoration: none; /*quitar subrayado*/
    
  }
  
/*--------- FIN DE HEADER   ------*/


.principal{
  /* background-color: brown; */
   margin-top: 300px; 
    width: 100%;
    margin: 0 auto;
}

.seccion2{
  width: 100%;
  /* background-color: chartreuse; */
}

.card4 img {
  width: 100%;
  margin: 0 auto;
 
   /* border: 1px solid black; */

}